<!-- views/partials/header.ejs -->

<meta charset="utf-8">
<title>Word Finders</title>
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<script src="javascripts/jquery-2.1.3.min.js"></script>