<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/header %>
</head>

<body>

<% include partials/navbar %>

<% if (!user) { %>
<div class="container">

	<div class="col-sm-6 col-sm-offset-3">
		<h1>Sign Up</h1>
		<br/>

		<form action="/signup" method="post">
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" name="username">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>

			<button type="submit" class="btn btn-primary">Sign Up</button>
		</form>

		<hr>

		<p>or try out our <a href="/practice">Practice Mode</a></p>
	</div>
</div>
<% } else { %>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" align="center">
			<h1><%= user.username %></h1>

			<br/><br/>

			<span>
			<% if (locals.recent && locals.recent[0]) { %>
				Most recent results:
			<% } %>
			</span>

			<% if (locals.recent && locals.recent.length > 0) { %>
			<ul class="list-group">
			<% for (var i = 0; i < locals.recent.length; i++) { %>
			<% if (locals.recent[i]) { %>
				<a class="list-group-item">
				<% if (locals.recent[i].verdict === 0) { %>
					<span class="win">WIN </span>
				<% } else if (locals.recent[i].verdict === 1) { %>
					<span class="lose">LOSE </span>
				<% } else { %>
					<span class="draw">DRAW </span>
				<% } %>

					against <%= locals.recent[i].opponent %></a>
			<% } %>
			<% } %>
			</ul>
			<% } %>
		</div>
	</div>
</div>
<% } %>

</body>
</html>

