<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Word Finders</title>
	<script src="javascripts/jquery-2.1.3.min.js"></script>
</head>

<body>

<% if (user) { %>
	Yo <%= user %>!
<% } else {%>
	Yo dawg!
<% } %>

Welcome to Word Finders!

Please <a href="/login"> login</a> or <a href="/signup/"> sign up</a> to play.

<br>
<a href="/practice">Practice Mode</a>
<br>
<a href="/lobby">Challenge Mode</a>

</body>
</html>

