<!-- views/solo.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Word Finders | Solo Mode</title>
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/draw.js"></script>
</head>

<body>

<canvas id="puzzle" width="480px" height="480px" align="center"></canvas>

</body>
</html>

