body {
	padding-top: 70px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: Varela Round;

}

.found {
	text-decoration: line-through;
}

.normal {
	font-family: Varela Round;
	font-size: 50px;
	color: black;
}

.positive {
	font-family: Varela Round;
	font-size: 50px;
	color: green;
}

.negative {
	font-family: Varela Round;
	font-size: 50px;
	color: red;
}

#timer {
	font-family: Varela Round;
	font-size: 20px;
}

a.list-group-item {
	width: 300px;
	text-align: center;
}

span.win {
	color: green;
}

span.lose {
	color: red;
}

span.draw {
	color: orange;
}

.top-table td, th {
	text-align: center;
}

.master, .master:hover {
	color: red;
	font-weight: bold;
	text-decoration: none;
}
.expert, .expert:hover {
	color: yellow;
	font-weight: bold;
	text-decoration: none;
}
.advance, .advance:hover {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}
.average, .average:hover {
	color: green;
	font-weight: bold;
	text-decoration: none;
}
.novice, .novice:hover {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}
.beginner, .beginner:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}